@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  color: #4f585e;
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeLegibility;
}

.categories-title {
    margin-bottom: 50px;
    padding: 0 15px;
}

.categories-title h1 {
    display: inline-block;
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    position: relative;
}

.categories-title h1:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #111;
}

a.btn {
  background: #ff9e40;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: #ff4b2b;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: #ff4b2b;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

.categories {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

.category {
  background: #ffffff;
  
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}

.category img {
  max-width: 300px;
}

.category .category-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}

.category .category-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

.category .category-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}

.category .category-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}

.category .category-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}

.category .category-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

.category .category-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}

.category .category-btn {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

.category .category-move {
  background: #f6f5f7;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

.category .move1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

.category .move2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

.categories.showing .category {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

.no-touch .categories.showing .category:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

.category.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.category.show .category-title a.toggle-info {
  background: #ff6666 !important;
}

.category.show .category-title a.toggle-info span {
  top: 15px;
}

.category.show .category-title a.toggle-info span.left {
  right: 10px;
}

.category.show .category-title a.toggle-info span.right {
  left: 10px;
}

.category.show .category-move {
  background: #ffffff;
  transform: rotateX(0deg);
}

.category.show .move1 {
  transition: all 0.3s 0s ease-out;
}

.category.show .move2 {
  transition: all 0.3s 0.2s ease-out;
}