*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}
body {
    background: #f6f5f7;
    color: #4f585e;
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility;
  }
  
a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    cursor: pointer;
    width: 180px;
    margin-top: -45px;
    margin-bottom: -45px;
}
.nav-area{
    list-style: none;
    
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color: #000000;

}
.nav-area li a:hover{
    color: #ff9e40;
}
.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 15px;
    border-radius: 50%;
    background: #ff9e40;            
}
